@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

.font-serif {
    font-weight: 400;
}

.react-pdf__Page {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.annotationLayer {
    display: none;
}
